<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.quanterium.longurlforsafari</string>
       <key>Developer Identifier</key>
       <string>9H26G396TH</string>
       <key>CFBundleVersion</key>
       <string>13</string>
       <key>CFBundleShortVersionString</key>
       <string>2.2</string>
       <key>URL</key>
       <string>https://github.com/quanterium/longurlforsafari/blob/master/release/LongURL%20for%20Safari.safariextz?raw=true</string>
     </dict>
   </array>
</dict>
</plist>